[core]
	autocrlf = true
	preloadindex = true
	fscache = true
	excludesfile = \\\\mipsqw2k1\\ayaraee$\\gitignore_global.txt
	ignorecase = true
[user]
	name = Arman Yaraee
	email = arman.yaraee@man.com
[gc]
	auto = 256
[code]
    editor = code --wait
[merge]
    tool = vscode
[diff]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
    trustExitCode = false
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "splice"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true
[alias]
	tags = tag --sort=-creatordate
	aliases = config --get-regexp alias
	co = checkout
	br = branch
	ci = commit
	gls = log --pretty=oneline --abbrev-commit
