[core]
	preloadindex = true
	fscache = true
	excludesfile = ~/.gitignore_global.txt
	ignorecase = true
[user]
	name = Arman Yaraee
	email = arman@yaraee.net
[gc]
	auto = 256
[code]
    editor = code --wait
[merge]
    tool = vscode
[diff]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
    trustExitCode = false
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "splice"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true
[alias]
	tags = tag --sort=-creatordate
	aliases = config --get-regexp alias
	co = checkout
	coi = !git branch | grep  "$1" -m 1 | xargs git checkout
	br = branch
	ci = commit
  gl= log --graph --pretty=format:\"%C(dim red)%h%Creset - %C(bold yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit 
	gls = log --pretty=oneline --abbrev-commit
  gfp= push --force-with-lease  
	fe = !git fetch origin $1:$1
	fem = fetch origin master:master
  gs = status -s -b 

