{ config, pkgs, ... }:
{
  services.armanwsl.enable = false;
  home.username = "arman";
  home.homeDirectory = "/home/arman";

  programs.git = {
    signing = {
      signByDefault = true;
      key = "1C7FC51D87E2F7DC";
      # USe system one
      gpgPath = "/usr/bin/gpg";
    };

    userEmail = "arman@yaraee.net";
  };

  # Additional packages only on this machine
  # home.packages = with pkgs; [
  #   yq
  # ];
}
